<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>HIV | High Inovation Visual</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../public/css/style.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../public/css/home.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../public/css/contactus.css" />
</head>
<body>
    <div class="Header">
            <div>
                <h1><a href="#"><img src="" alt="logo"></a></h1>
            </div>
            <ul>
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="#">Our Services</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Our Team</a></li>
                    <li><a href="#">Contact</a></li>
                    <li>
                    <div class="flexbox">
                        <div class="search">
                            <div>
                            <input type="text" placeholder="       Search . . ." required>
                            </div>
                        </div>
                        </div>
                    </li>
                    <li><a href="../views/Login.html" target="_blank">Login</a></li>
                </ul>
    </div>
    <section id="contact">
            <div class="sectionheader">	<h1>CONTACT</h1></div>
            <article>
            <p>Yoda soon you will call me master Governor Tarkin. A new hope Boba Fett bantha forest moon. Tusken raider Master Yoda do or do not never tell me the odds.</p>
                
                    <label for="checkcontact" class="contactbutton"><div class="mail"></div></label><input id="checkcontact" type="checkbox">
            
                    <form action="" method="post" class="contactform">
                        <p class="input_wrapper"><input type="text" name="contact_nom" value=""  id ="contact_nom"><label for="contact_nom">NAME</label></p>
                        <p class="input_wrapper"><input type="text" name="contact_email" value=""  id ="contact_email"><label for="contact_email">EMAIL</label></p>
                        <p class="input_wrapper"><input type="text" name="contact_sujet" value=""  id ="contact_sujet"><label for="contact_sujet">SUBJECT</label></p>
                        <p class="textarea_wrapper"><textarea name="contact_message" id="contact_message"></textarea></p>
                        <p class="submit_wrapper"><input type="submit" value="ENVOYER"></p>			
                    </form>
            </article>
        </section>
    <div class="footer">
      <div id="button"></div>
        <div id="container">
          <div id="cont">
            <div class="footer_center">
              <h3>©Copyright  2018 <i>We Love Azib Team</i></h3>
            </div>
          </div>
      </div>
    </div>
    <script src="public/js/index.js"></script>
</body>
</html>