<!DOCTYPE html>
<html>

<head>
    <title>HIV</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="D:\Tugas UIB\Semester 3\Web Design\Project\WEB-DESIGN-UIB-2018\views\Css\style.css">
    <link rel="stylesheet" href="D:\Tugas UIB\Semester 3\Web Design\Project\WEB-DESIGN-UIB-2018\views\Css\font.css">
    <link rel="stylesheet" href="D:\Tugas UIB\Semester 3\Web Design\Project\WEB-DESIGN-UIB-2018\views\Css\bootstrap.css">
</head>

<body>
<div class="content">
</div>
    <footer id="myFooter">
        <div class="container"> 
            <div class="row">
                <div class="col-sm-3">
                    <h5>Office</h5>
                    <ul>
                        <li>Jl.Gajahmada Sei Baloi No 72 B12 , 29442 </li>
                        <li>Telp: 0778-451-213| Fax: 7494228</li>
                        <li><Website:www.hiv.com</li>
                    </ul>       
                </div>
                <div class="col-sm-3">
                    <h5>About us</h5>
                    <ul>
                        <li><a href="#">Company Information</a></li>
                       
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>Support</h5>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Help desk</a></li>
                        <li><a href="#">Forums</a></li>
                    </ul>
                </div>
                <div class="col-sm-3 info">
                    <h5>Information</h5>
                    <p> For more your Information Do not Hestitate To contact Our Customer Service Hiv@customerservice.com </p>
                </div>
            </div>
        </div>
        <div class="second-bar">
           <div class="container">
            <h6 align ="center"> Copyright © 2019 HIV Group</h6>
                </div>
            </div>
        </div>
    </footer>

</body>

</html>
