<!DOCTYPE html>
<html>
<head>
</head>
<body>
   <footer>
        
    <link rel="stylesheet" href="Css\style.css">
    <div id="sticky">
       <table border="0" width="700" height="200">
        <tr>
            <td colspan="4" align ="center">Our Locations</td>
          <td>  </td>
        </tr>
        <tr>
            <td align ="left" ><u>Contact US</u> </td>
            <td>Maps Location</td>
            <td>Follow Us</td>   
            <tr>
                <td align ="left">HIV</td>
               <td>Image Maps</td>
                <div id="image">
                <td><img src="D:\Tugas UIB\Semester 3\Web Design\Project\webdesign\Image\Icons\facebook.png" alt="" height="50" width="50"></td>
                <td>
                     </td>
            </tr>
            <tr>
                <td align ="left">Jl. Gajah Mada, Baloi - Sei Ladi, Batam 29442 </td>
                <td>

                </td>
                <td>
                        <img src="D:\Tugas UIB\Semester 3\Web Design\Project\webdesign\Image\Icons\instagram.png" alt="" height="50" width="50">
                </td>
            </tr>
            <tr>
                <td align ="left">
                        Phone : (0778) 743 7111 /  Fax : (0778) 743 7112
                </td>
                <td>

                    </td>
                    <td>
                            <img src="D:\Tugas UIB\Semester 3\Web Design\Project\webdesign\Image\Icons\mail.png" alt="" height="60" width="60">
                    </td>
            </tr>
            <tr>
                <td align ="left">Email : cshiv@hiv.com</td>
            </tr>
            <tr>
                    <td colspan="4" align="center">Copyright © 2013 BJS Group. Design by Xenomo.com</td>
            </tr>
        </tr>
        
       </table>
    
    </div> 
       </footer>
</body>
</html>