
html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #333333;
    text-align: left;
    background-color: #fff;
  }  

.Header ul{
    list-style: none;
    padding:0;
    background:#444;
}

.Header ul li a{
    color:#ddd;
    text-decoration: none;
    padding: .8rem 1rem;
    display: block;
    line-height: 1;
}
.Header ul li{
    border-bottom: 1px dotted #ddd;
}
/*styling logo*/

.Header div:first-child{
    background:#222;
}
.Header div:first-child h1{
    line-height: 0;
    padding: .8rem 0rem;
    text-align: center;
}
.Header div:first-child img{
    filter: contrast(0);
}

.Header div:first-child h1, .Header ul{
    margin:0;
}

/*Styling for larger devices*/

@media only screen and (min-width: 30em){
    .Header{
        display: flex;
        justify-content: space-between;
        background: #222;
        align-items: center;
    }
    
    .Header ul{
        display: flex;
        align-items: center;
        background:none;
        flex-wrap: wrap;
    }
    .Header div:first-child h1{
        padding: 0;
        margin:0 1rem;
    }
    .Header div:first-child img{
        height: 40px;
        
    }
    .Header ul li{
        border-bottom:none;
        flex: 1 0 auto;
        position: relative;
    }
    .Header ul li a{
        padding:1.2rem 1rem;
    }
    .Header ul li a::before, .Header ul li a::after{
        content: "";
        position: absolute;
        bottom:0;
        right: 0;
        width:0%;
        height: 2px;
        background:red;
        transition: .2s width ease-in-out;
    }
    
    .Header ul li a::before{
        left:0;
    }
    
    .Header ul li a:hover::after,.Header ul li a:hover::before{
        width: 50%;
    } 
   
}

@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");

.flexbox {
  background: linear-gradient(155deg, #55c7ed, #2bb3e0, #3bc1ed);
  width: 10 0%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search {
  margin: 20px;
}

.search > h3 {
  font-weight: normal;
}

.search > h1,
.search > h3 {
  color: white;
  margin-bottom: 15px;
  text-shadow: 0 1px #0091c2;
}

.search > div {
  display: inline-block;
  position: relative;
}

.search > div:after {
  content: "";
  background: white;
  width: 4px;
  height: 20px;
  position: absolute;
  top: 22px;
  right: -5px;
  transform: rotate(135deg);
  box-shadow: 1px 0 #0091c2;
}

.search > div > input {
  color: white;
  font-size: 16px;
  background: transparent;
  width: 5px;
  height: 5px;
  padding: 10px;
  border: solid 3px white;
  outline: none;
  border-radius: 35px;
  box-shadow: 0 1px #0091c2;
  transition: width 0.5s;
}

.search > div > input::placeholder {
  color: #efefef;
  opacity: 1;
}

.search > div > input::-ms-placeholder {
  color: #efefef;
}

.search > div > input::-ms-input-placeholder {
  color: #efefef;
}

.search > div > input:focus,
.search > div > input:valid {
  width: 250px;
}

